{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.439"}
        cljsjs/recharts {:mvn/version "1.4.2-0"}
        qlkit {:mvn/version "0.3.0-SNAPSHOT"}}}
